@font-face {
  font-family: 'Marvel_R';
  src: url('../fonts/Marvel-Regular.eot');
  src: local('Marvel'), local('Marvel-Regular'),
    url('../fonts/') format('embedded-opentype'),
    url('../fonts/Marvel-Regular.woff2') format('woff2'),
    url('../fonts/Marvel-Regular.woff') format('woff'),
    url('../fonts/Marvel-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Marvel_I';
  src: url('../fonts/Marvel-Italic.eot');
  src: local('Marvel Italic'), local('Marvel-Italic'),
    url('../fonts/Marvel-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Marvel-Italic.woff2') format('woff2'),
    url('../fonts/Marvel-Italic.woff') format('woff'),
    url('../fonts/Marvel-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Marvel_BI';
  src: url('../fonts/Marvel-BoldItalic.eot');
  src: local('Marvel Bold Italic'), local('Marvel-BoldItalic'),
    url('../fonts/Marvel-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Marvel-BoldItalic.woff2') format('woff2'),
    url('../fonts/Marvel-BoldItalic.woff') format('woff'),
    url('../fonts/Marvel-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Marvel_B';
  src: url('../fonts/Marvel-Bold.eot');
  src: local('Marvel Bold'), local('Marvel-Bold'),
    url('../fonts/Marvel-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Marvel-Bold.woff2') format('woff2'),
    url('../fonts/Marvel-Bold.woff') format('woff'),
    url('../fonts/Marvel-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HipstelveticaB';
  src: url('../fonts/Hipstelvetica-Bold.ttf');
  src: local('../fonts/Hipstelvetica-Bold'),
    local('../fonts/Hipstelvetica-Bold'),
    url('../fonts/Hipstelvetica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
