@media screen and(max-width:767px) {
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .title {
    order: -4;
  }
  .links {
    order: -3;
    &__link--hovered {
      display: none;
    }
  }
  #select-1 {
    order: -2;
  }
  #select-3 {
    order: -1;
  }
  .button-box {
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
  }
  .submit-btn {
    width: 100%;
    padding: 13px 45px;
    & + & {
      margin-top: 20px;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .form__textarea {
    margin-bottom: 157px;
  }
  .panel-box {
    position: absolute;
    min-width: 291px;
    bottom: 220px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and(min-width:768px) {
  .container {
    max-width: 715px;
    padding-top: 52px;
    padding-bottom: 150px;
  }
  .title {
    margin-bottom: 40px;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
  }

  .links {
    order: -2;
  }
  .panel-box {
    order: -1;
  }
  .submit-btn {
    & + & {
      margin-left: 20px;
    }
  }
  #select-1,
  #select-3 {
    order: 0;
  }
  #select-2,
  .right-box {
    order: 5;
  }

  .distance-change {
    margin-top: -170px;
  }
  .select,
  .select__button,
  .select__label,
  .form__input,
  .form__textarea,
  .panel-box,
  .links,
  .right-box {
    min-width: 291px;
  }
  .right-box {
    max-width: 291px;
  }
}

@media screen and(min-width:1200px) {
  .container {
    max-width: 768px;
  }
  .panel-box {
    transform: translateX(40px);
  }
  .select,
  .select__button,
  .select__label,
  .form__input,
  .form__textarea,
  .panel-box,
  .links {
    min-width: 300px;
  }
  .right-box {
    max-width: 300px;
  }
}
